@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&display=swap');

html, body {
  height: 100%;
}

.homepage-container {
  font-family: 'Playfair Display', serif;
  flex-flow: column;
  display: flex;
}

.homepage-lead {
  flex: 1 0 95vh;
  display: flex; 
  flex-flow: column;
  background-image: url('../../images/homeBlur.jpg');
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-lead-content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 10% 18%;
}

.homepage-lead-content-centered {
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.homepage-lead-content-centered h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 350%;
  color:#363535;
  font-weight: 100;
}

.homepage-lead-content-centered hr {
  width: 50%;
  border-color: #363535;
}

.homepage-lead-content-centered a {
  background-color: #363535;
  border-radius: 10px;
  border: 5px;
  padding: 1.5% 4%;
  font-size: 22px;
  color: white;
}

.homepage-lead-content-centered a h3 {
  margin: 0px;
  font-weight: unset;
}

.homepage-lead-content-centered a:hover {
  filter: brightness(85%);
}

@media (hover: none) {
  .homepage-lead-content-centered a:hover {
    filter: brightness(100%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  .homepage-lead-content-centered a:active {
    filter: brightness(85%);
  }
}

.homepage-secondary {
  flex: 1 0 auto;
  background-color: #363535;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 5vh;
  
}

.homepage-secondary-title {
  flex: 0 0 100%;
  text-align: center;
  color: white;
  padding-top: 2vh;
}

.homepage-secondary-box {
  flex: 3 1 20%;
  padding: 0px 5px;
  color: white;
  text-align: center;
  padding: 2vh 5% 20px;
}

@media only screen and (max-width: 800px) {
  .homepage-secondary-box {
    flex: 0 1 80%;
    padding: 10vh 10% 0px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .homepage-secondary-box {
    flex: 0 1 40%;
    padding: 10vh 5% 0px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .homepage-secondary-box {
      flex: 0 1 25%;
      padding: 5vh 5% 0px;
    }
  }

.homepage-secondary-title hr {
  width: 10%;
  border-color: white;
}

.homepage-secondary-box h3 {
  filter: brightness(80%);
}

.homepage-secondary p {
  font-weight: 100;
}

.homepage-footer {
  color: white;
  background-color: #302f2f;
  text-align: center;
  margin-top: -10px;
  height: 30px;
}

.homepage-footer h6 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
