@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.homepage-container {
  font-family: 'Nunito', sans-serif;
  
  /* height:80%; */
  flex-flow: column;
}

.homepage-lead {
  flex: 1 0 100vh;
  display: flex;
  
  flex-flow: column;
  background-image: url('../../images/welcomeImageBlur.jpg');
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.homepage-lead-navbar {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  padding: 0.8% 0%;
  

}

.homepage-lead-navbar-content {
  width: 80vw;
  display: flex;
  
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 350px) {
  .homepage-lead-navbar-content {
    flex-flow: column;
  }
}

@media only screen and (max-width: 900px) {
  .homepage-lead-navbar-content {
    width: 100vw;
  }
}

.homepage-lead-navbar-content-nav {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 350px) {
  .homepage-lead-navbar-content-nav {
    flex-flow: column;
  }
}

.homepage-lead-navbar-content span {
  color: white;
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0px;
}

.homepage-container a {
  text-decoration: none;
  color: white;
}

.homepage-lead-navbar a:hover {
  color: #363535;
}

@media (hover: none) {
  .homepage-lead-navbar a:hover {
      color: white;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
  }
  .homepage-lead-navbar a:active {
    color: #363535;
  }
}

.homepage-lead-content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10% 2%;
}

.homepage-lead-content-centered {
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 11vh 15px 10px ;
}

.homepage-lead-content-centered h2 {
  text-align: center;
  padding: 0% 0% 15%;
  color:#d4d4d4;
}

.homepage-lead-content-centered hr {
  width: 50%;
  border-color: #363535;
}

.homepage-lead-content-centered a {
  background-color: #363535;
  border-radius: 10px;
  border: 5px;
  padding: 1.5% 4%;
  font-size: 22px;
  color: white;
}

.homepage-lead-content-centered a h3 {
  margin: 0px;
}

.homepage-lead-content-centered a:hover {
  filter: brightness(85%);
}

@media (hover: none) {
  .homepage-lead-content-centered a:hover {
    filter: brightness(100%);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  .homepage-lead-content-centered a:active {
    filter: brightness(85%);
  }
}

.homepage-secondary {
  flex: 1 0 auto;
  background-color: #363535;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 5vh;
}

.homepage-secondary-title {
  flex: 0 0 100%;
  text-align: center;
  color: white;
  padding-top: 2vh;
}

.homepage-secondary-box {
  flex: 3 1 20%;
  padding: 0px 5px;
  color: white;
  text-align: center;
  padding: 2vh 5% 20px;
}

@media only screen and (max-width: 800px) {
  .homepage-secondary-box {
    flex: 0 1 80%;
    padding: 10vh 10% 0px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .homepage-secondary-box {
    flex: 0 1 40%;
    padding: 10vh 5% 0px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .homepage-secondary-box {
      flex: 0 1 25%;
      padding: 5vh 5% 0px;
    }
  }

.homepage-secondary-title hr {
  width: 10%;
  border-color: white;
}

.homepage-secondary-box h3 {
  filter: brightness(80%);
}

.homepage-footer {
  color: black;
  background-color: white;
  text-align: center;
}