#weekTitle{
    text-align: center;
    word-wrap: break-word;
    font-family: 'Baloo', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.rightContainer {
}