#nav-button {
    margin-left: 30px;
}

#brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 1000;
    color:white;
}

#brand:hover {
    text-decoration: none;
}

#navbar {
    background-color:#101b3f !important;
}

.navbar{
    background-color: #153475;
    width: 100%;
}    

.nav-button {
    color:white;
}

.nav-button:hover{
    color:white;
}

.navbar-collapse {
    text-align: right;
  
.navbar button {
    width: 34%;
    border-radius: 5px;
    height: 35px;
    border: 0px;
    background-color: #49535D;
    color: white;
    margin-left: 11%;
    cursor: pointer;
}